@model Factory_Manager.Models.Department

@{
    ViewBag.Title = "DepartmentList";
}
<style>
    #departments {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #departments td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #departments tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #departments tr:hover {
            background-color: #ddd;
        }

        #departments th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>
<h2>Department List</h2> <br />
<h4><a href="/Department/AddDepartment">Click here to add a Department</a></h4>
    <table id="departments">
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Manager</th>
            <th>Edit</th>
            <th>Delete</th>
            
        </tr>
        @foreach(var item in ViewBag.departments)
        {
    <tr>
        <td>@item.ID</td>
        <td>@item.DepartmentName</td>
        <td>@item.Manager</td>
        <td>@Html.ActionLink("Edit", "EditDepartment", new { id = @item.ID })</td>
       
        <td>
            @if (@item.isDepartmentEmpty == true)
            {
                @Html.ActionLink("Delete", "DeleteDepartment", new { id = @item.ID })
            }
        </td>
        
        






    </tr>
        }
    </table> <br />

    <a href="/Login/Index">Press Here To Log Out</a> <br />
    
    <h6>@ViewBag.NumOfActs</h6>
   
    <div>
        @Html.Raw(HttpContext.Current.Session["fullName"])
    </div>

